
.listItem {
  border: 1px solid #ccc;
  width: 330px;
  height: 50px; 
  padding: 10px 22px;
  font-size: 18px;
  text-align: left;
  line-height: 50px;
}

.listItem:hover {
  background-color: #0f7ffa;
  color: white;
}